<!-- app/views/users/new.html.erb -->

<h1 class="form">Signup!</h1>
<!-- If there was a duplicate email, show error -->
<% if flash["error"] %>
  <div class="alert alert-danger" role="alert">
    <%= flash["error"] %>
  </div>
<% end %>
<div class="form">
  <!-- bootstrap_form_for > integreate bootstrap -->
  <!-- into embedded rails methods -->
  <%= bootstrap_form_for :user, url: '/users' do |f| %>

    <%= f.text_field :first_name, placeholder: "First Name" %>
    <%= f.text_field :last_name, placeholder: "Last Name" %>
    <%= f.text_field :email, placeholder: "Email must be unique" %>
    <%= f.password_field :password, placeholder: "Password must be at least eight characters" %>
    <%= f.password_field :password_confirmation, placeholder: "Confirm Password" %>
    <%= f.submit "Submit" %>

  <% end %>
</div>